footer.footer 
  .footer__inner
    .footer__top 
      .footer__top-links
        .footer__catalog 
          span.footer__title Каталог
          a.footer__link(href="#") Гофрокороба
          a.footer__link(href="#") Коробки по применению
          a.footer__link(href="#") Коробки с печатью
          a.footer__link(href="#") Коробки для подарков
        .footer__info 
          span.footer__title Информация
          a.footer__link(href="#") О нас
          a.footer__link(href="#") Команда
          a.footer__link(href="#") Доставка
          a.footer__link(href="#") Наш сервис
        .footer__contact 
          span.footer__title.footer__title_contact Адрес и контакты
          a.footer__contact-link(href="mailto:korobka@help.ru") korobka@gmail.com
          a.footer__contact-link.footer__contact-link_last-email(href="mailto:korobka@help.ru") korobka@help.ru
          a.footer__contact-link(href="tel:+79834565665") +7 (983) 456-56-65
          a.footer__contact-link(href="tel:+79834565665") +7 (983) 456-56-65

      a.logo.logo_footer(href="index.html")
        picture 
          source(srcset="./img/logo.webp" type="image/webp")
          img.logo__img(src="./img/logo.png" alt="logo")
        .logo__text 
          h1.logo__title Ю-Упак
          h2.logo__subtitle Картонная упаковка

    .footer__another 
      .footer__another-wrapper
        .footer__another-text
          a.footer__another-link(href="#") Условия и положения
          a.footer__another-link(href="#") Политика конфиденциальности
        span.footer__copyright Все права защищены



