header.header 
  .container 
    .header__inner 
      input.hamburger__checkbox(type="checkbox" id="hamburger__checkbox" )
      label.hamburger__lines(for="hamburger__checkbox" tabindex="0")
        span.hamburger__line.hamburger__line_1
        span.hamburger__line.hamburger__line_2
        span.hamburger__line.hamburger__line_3

      ul.header__list 
        li.header__item 
          a.header__link(href="./index.html") О компании
        li.header__item 
          a.header__link(href="./catalog.html") Продукция
        li.header__item 
          a.header__link(href="./catalog.html") Коробки на заказ
        li.header__item 
          a.header__link(href="#") Контакты

      a.logo(href="./index.html")
        picture 
          source(srcset="./img/logo.webp" type="image/webp")
          img.logo__img(src="./img/logo.png" alt="logo")
        .logo__text 
          h1.logo__title Ю-Упак
          h2.logo__subtitle Картонная упаковка

      .search-input-wrapper 
        label(for="search-input")
        img.search-input-icon(src="./img/search-input-icon.svg" alt="search-input-icon")
        input.search-input(type="search" id="search-input")
