doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="...")
    meta(name="keywords" content="..." )
    meta(name="author" content="Egor III")
    meta(name="robots" content="index, follow")
    // favicon  
    // link(rel="canonical" href="https://example.com/main")
    link(rel="stylesheet" href="./style.css")
    title У-Пак
  body 
    include ./includes/header.pug
    main
      .container
        .breadcrumb
          a.breadcrumbs__text(href="#") Главная
          span.breadcrumbs__icon
          a.breadcrumbs__text(href="#") Каталог товаров
          span.breadcrumbs__icon
          a.breadcrumbs__text(href="#") Гофрокороба

        .catalog
          include ./includes/filter.pug
          .cards
            .cards__sort Сортировка:
              select#sortBoxes.cards__sort-select
                option(value="default") По умолчанию 
                option(value="priceLow") По убыванию цены 
                option(value="priceHigh") По возрастанию цены 
            .cards__inner
              -
                var items = [
                  {id: 1, src:"box3", title:"Гофрокороб 200*120*120 мм М-243 бурый", price: "6.86" },
                  {id: 2, src:"box2", title:"Гофрокороб 200*120*120 мм Т-66 бурый", price: "12.86" },
                  {id: 3, src:"box1", title:"Гофрокороб 200*120*120 мм Т-23 бурый", price: "4.86" },
                  {id: 4, src:"box2", title:"Гофрокороб 200*120*120 мм Т-66 бурый", price: "8" },
                  {id: 5, src:"box3", title:"Гофрокороб 200*120*120 мм М-243 бурый", price: "7.86" },
                  {id: 6, src:"box1", title:"Гофрокороб 200*120*120 мм Т-23 бурый", price: "7.86" },
                  {id: 7, src:"box2", title:"Гофрокороб 200*120*120 мм Т-66 бурый", price: "9" },
                  {id: 8, src:"box1", title:"Гофрокороб 200*120*120 мм Т-23 бурый", price: "20" },
                  {id: 9, src:"box3", title:"Гофрокороб 200*120*120 мм М-243 бурый", price: "8" },
                ]
              each item in items 
                .cards__item(data-price=item.price)
                  picture 
                    source(srcset="./img/" + item.src + ".webp" type="image/webp") 
                    img.cards__item-img(src="./img/box1.png" alt="Коробка такая то...") 
                  .cards__item-rating
                    svg.cards__item-star.cards__item-star_active(width='17' height='16' viewbox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M8.33333 0L10.2043 5.75819L16.2588 5.75819L11.3606 9.31695L13.2315 15.0751L8.33333 11.5164L3.43512 15.0751L5.30607 9.31695L0.407862 5.75819L6.46238 5.75819L8.33333 0Z' fill='#62696C')
                    svg.cards__item-star.cards__item-star_active(width='17' height='16' viewbox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M8.33333 0L10.2043 5.75819L16.2588 5.75819L11.3606 9.31695L13.2315 15.0751L8.33333 11.5164L3.43512 15.0751L5.30607 9.31695L0.407862 5.75819L6.46238 5.75819L8.33333 0Z' fill='#62696C')
                    svg.cards__item-star.cards__item-star_active(width='17' height='16' viewbox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M8.33333 0L10.2043 5.75819L16.2588 5.75819L11.3606 9.31695L13.2315 15.0751L8.33333 11.5164L3.43512 15.0751L5.30607 9.31695L0.407862 5.75819L6.46238 5.75819L8.33333 0Z' fill='#62696C')
                    svg.cards__item-star.cards__item-star_active(width='17' height='16' viewbox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M8.33333 0L10.2043 5.75819L16.2588 5.75819L11.3606 9.31695L13.2315 15.0751L8.33333 11.5164L3.43512 15.0751L5.30607 9.31695L0.407862 5.75819L6.46238 5.75819L8.33333 0Z' fill='#62696C')
                    svg.cards__item-star(width='17' height='16' viewbox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M8.33333 0L10.2043 5.75819L16.2588 5.75819L11.3606 9.31695L13.2315 15.0751L8.33333 11.5164L3.43512 15.0751L5.30607 9.31695L0.407862 5.75819L6.46238 5.75819L8.33333 0Z' fill='#62696C')
                  .cards__item-title=item.title
                  .cards__item-bottom-div 
                    .cards__item-price=item.price + "₽"
                    button.cards__item-button-buy Купить

            .pagination
              .pagination__first-page 
                img.pagination__prev(src="./img/checkmark2.svg" alt="checkmark")
                img.pagination__prev(src="./img/checkmark2.svg" alt="checkmark")
              img.pagination__prev.pagination__prev_h(src="./img/checkmark2.svg" alt="checkmark")
              .pagination__pages
                .pagination__page.pagination__page_active 1 
                .pagination__page 2 
                .pagination__page 3 
                .pagination__page 4 
              img.pagination__next.pagination__next_h(src="./img/checkmark2.svg" alt="checkmark")
              .pagination__last-page 
                img.pagination__next(src="./img/checkmark2.svg" alt="checkmark")
                img.pagination__next(src="./img/checkmark2.svg" alt="checkmark")


      .not-found 
        .container
          .not-found__inner 
            b.not-found__pretitle Не нашли нужный размер?
            h3.not-found__title Сделаем на заказ
            p.not-found__text Воплощение любых конструкторских идей от простых до самых сложных упаковочных решений
            button.not-found__button Заказать бесплатный расчет


      .contact
        .container
          h2.title.title_contact Контакты
          .contact__inner 
            .contact__text-wrapper
              .contact__group-text
                b.contact__title Адрес:
                p.contact__text Адрес: 143442, Московская обл. г. Красногорск, Аристово, ул. Светлая, 19, пом. 2339

              .contact__group-text
                b.contact__title Email:
                a.contact__text(href="mailto:korobka@help.ru") korobka@gmail.com
                a.contact__text(href="mailto:korobka@help.ru") korobka@help.ru

              .contact__group-text
                b.contact__title Номер:
                a.contact__text(href="tel:+79834565665") +7 (983) 456-56-65
                a.contact__text(href="tel:+79834565665") +7 (983) 456-56-65

    include ./includes/footer.pug
    script(src="./js/vendors/webp.js" async)
    script(src="./js/nouiSlider.js" async)
    script(src="./js/vendors/nouislider.min.js")
    script(src="./js/pages/catalog.js")
