.header {
  padding: 8px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger__checkbox {
  display: block;
  display: none;
  cursor: pointer;
}

.hamburger__lines {
  cursor: pointer;
  height: 17px;
  width: 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger__line {
  display: block;
  height: 2px;
  width: 23px;
  border-radius: 10px;
  background: #0e2431;
}

.hamburger__line_1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger__line_2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger__line_3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.hamburger__checkbox:checked ~ .header__list {
  display: block;
  transform: translateX(0);
}

.hamburger__checkbox:checked ~ .hamburger__lines .hamburger__line_1 {
  transform: rotate(45deg);
}

.hamburger__checkbox:checked ~ .hamburger__lines .hamburger__line_2 {
  transform: scaleY(0);
}

.hamburger__checkbox:checked ~ .hamburger__lines .hamburger__line_3 {
  transform: rotate(-45deg);
}

.header__list {
  background: #e5e5e5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translate(-150%);
  transition: transform 0.5s ease-in-out;
}

.header__item {
  list-style-type: none;
  margin: 25px 0;
}

.header__link {
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__title {
  font-size: 32px;
  line-height: 32px;
  color: #000;
}

.logo__subtitle {
  font-size: 14px;
  line-height: 14px;
  color: #000;
}

.search-input {
  display: none;
}

@media (min-width: $width-large) {
  .hamburger__lines, .hamburger__checkbox, .search-input-wrapper {
    display: none;
  }

  .logo__subtitle {
    display: block;
  }

  .header__list {
    display: flex;
    position: static;
    transform: translate(0);
    background: none;
    order: 2;
    width: auto;
  }

  .header__item {
    margin-left: 30px;
  }
}
