* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $width-container;
  margin: 0 auto;
  padding: 0 15px;

  &__footer {
    max-width: none;
    width: 100%;
    padding: 0;
  }
}

.h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 135%;
  color: $color-text;
}

.h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 135%;
  color: $color-text;
}

body {
  background: $color-bg;
  color: $color-text;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: $font-weight;
  font-size: $font-size-text;
}

.title {
  font-size: 24px;
  line-height: 135.3%;
  font-weight: 600;
  text-align: center;
  color: $color-text;
}

.line {
  background: #e0e0e0;
  height: 1px;
  border: 0;
}

@media (min-width: $width-large) {
  .title {
    font-size: 28px;
  }
}