button($padding-y = 16px, $padding-x = 48px) {
  background: $color-primary;
  border-radius: 5px;
  padding: $padding-y $padding-x;
  font-size: 16px;
  line-height: 19px;
  color: $color-bg;
  transition: background 0.2s;

  &:hover {
    background: darken(@background, 10%);
    transition: background 0.2s;
  }
}

flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
