$color-bg = #fff;
$color-primary = rgba(8, 166, 82, 0.85);
$color-text-secondary = #62696c;
$color-text = #1f2125;
$font-size-text = 18px;
$font-weight = 400;
$width-container = 1200px;
$width-small = 360px;
$width-middle = 768px;
$width-large = 1000px;
$width-xl = 1920px;